<div class="example-container mat-elevation-z8">
	<mat-table #table [dataSource]="dataSource" matSort>
		<!-- Checkbox Column -->
		<ng-container matColumnDef="select">
			<mat-header-cell *matHeaderCellDef>
				<mat-checkbox (change)="$event ? masterToggle() : null"
							  [checked]="selection.hasValue() && isAllSelected()"
							  [indeterminate]="selection.hasValue() && !isAllSelected()">
				</mat-checkbox>
			</mat-header-cell>
			<mat-cell *matCellDef="let row">
				<mat-checkbox (click)="$event.stopPropagation()"
							  (change)="$event ? selection.toggle(row) : null"
							  [checked]="selection.isSelected(row)">
				</mat-checkbox>
			</mat-cell>
		</ng-container>

		<ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
			<mat-header-cell style="background-color:#f5f8fa; color: black" *matHeaderCellDef mat-sort-header> {{col}} </mat-header-cell>
			<mat-cell *matCellDef="let element; index as i; let even = even" [class.row-even]="!even"> {{element[col]}} </mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"
				 (click)="selection.toggle(row)">
		</mat-row>
	</mat-table>
	<mat-paginator #paginator
				   [pageSize]="3"
				   [pageSizeOptions]="[3,5,7]"
				   [showFirstLastButtons]="true">
	</mat-paginator>
</div>
