<!-- begin:: Header Topbar -->
<div class="kt-header__topbar">
	<kt-search-default [icon]="'./assets/media/icons/svg/Header/search.svg'" [useSVG]="true"></kt-search-default>
	<!--begin: Quick actions -->
	<kt-quick-action [icon]="'./assets/media/icons/svg/Media/Quick-action1.svg'" [useSVG]="true"></kt-quick-action>
	<kt-notification [icon]="'./assets/media/icons/svg/General/Notifications.svg'" [useSVG]="true"></kt-notification>
	<!--end: Quick actions -->
<!--	<kt-language-selector></kt-language-selector>-->
	<kt-user-profile></kt-user-profile>
</div>
<!-- end:: Header Topbar -->
