.sb-inp-combo-info {
	background: #FFFFFF 0% 0% no-repeat padding-box !important;
	border: none !important;
	border-radius: 5px !important;
	color: #000000 ;
	font-weight: bold;
	text-indent: 5px;
}

.sb-inp-readonly {
	background: #F5F5F5 0% 0% no-repeat padding-box !important;
	pointer-events: none;
}

.sb-select-combo-info {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #CCCCCC;
	border-radius: 6px;
	opacity: 1;
	color: #000000 ;
	font-weight: bold;
	text-indent: 5px;
	outline: 0;
}
