#app {
	text-align: center;
	color: #2c3e50;
	margin-top: 25px;

}

#video {
	background-color: #000000;
	border: 5px solid #E3E6EB;
	border-radius: 10px;
	max-width: 500px;
	max-height: 375px;
}

#canvas {
	display: none;
	border: 5px solid #E3E6EB;
	border-radius: 10px;
	max-width: 500px;
	max-height: 375px;
}

li {
	display: inline;
	padding: 5px;
}

.imageCapture {
	border: 5px solid #E3E6EB;
	border-radius: 10px;
	max-width: 500px;
	max-height: 375px;
}
