<div class="kt-content">
	<kt-title-top [parentTitle]="parentName" [childOne]="childOne" [childTwo]="childTwo"
				  *ngIf="!viewData"></kt-title-top>

	<kt-combo-info
		[ngClass]="{'sb-container-readonly': (dataCacheRouter && (authorisable$ | async) || APPROVED || viewData)}"
		[parentForm]="parentForm"
		[dataFrmDash]="dataCacheRouter"
	></kt-combo-info>

	<div *ngIf="commonService.activeTab$.getValue() === 0">
		<kt-customer-info [parentForm]="parentForm"
						  [cusDataFrmDash]="dataCacheRouter"
						  [inputtable]="inputtable$ | async"
						  [authoriserble]="authorisable$ | async"
						  [ngClass]="{'sb-container-readonly': viewData}">
		</kt-customer-info>
		<kt-open-account-info [parentForm]="parentForm"
							  [accFrmDash]="dataCacheRouter"
							  [inputterble]="inputtable$ | async"
							  [authoraiserble]="authorisable$ | async"
							  [ngClass]="{'sb-container-readonly': viewData}">
		</kt-open-account-info>
		<kt-sms-register [parentForm]="parentForm"
						 [dataFrmDash]="dataCacheRouter"
						 [inputtable]="inputtable$ | async"
						 [authoriserble]="authorisable$ | async"
						 [ngClass]="{'sb-container-readonly': viewData}"
		></kt-sms-register>
		<kt-ebank-register [parentForm]="parentForm"
						   [ebankDataFrmDash]="dataCacheRouter"
						   [accountInfo]="accountInfo$"
						   [isLoadingAccount$]="isLoadingAccountInfo$"
						   [inputtable]="inputtable$ | async"
						   [authoriserble]="authorisable$ | async"
						   [ngClass]="{'sb-container-readonly': viewData}">
		</kt-ebank-register>

		<kt-open-card-combo [parentForm]="parentForm"
							[cardDataFrmDash]="dataCacheRouter"
							[accountInfo$]="accountInfo$"
							[isExCombo]="false"
							[isLoadingAccountInfo$]="isLoadingAccountInfo$"
							[inputtable]="inputtable$ | async"
							[authoriserble]="authorisable$ | async"
							[ngClass]="{'sb-container-readonly': viewData}"
							[cardTypeCreated] = "'INTERANTIONAL_CREDIT_CARD'">
		</kt-open-card-combo>

		<kt-general-info [parentForm]="parentForm"
						 [dataFromDash]="dataCacheRouter"
						 [inputtable]="inputtable$ | async"
						 [authoraiserble]="authorisable$ | async"
						 [ngClass]="{'sb-container-readonly': viewData}"
						 [viewData]="viewData"
		>
		</kt-general-info>

		<kt-audit-info [parentForm]="parentForm"
					   [dataFrmDash]="dataCacheRouter"
					   [inputter]="inputtable$ | async"
					   [authoriser]="authorisable$ | async"
					   [ngClass]="{'sb-container-readonly': (APPROVED || viewData)}"
		>
		</kt-audit-info>
		<kt-approved-error
			*ngIf="(APPROVED || (removeButton$|async)) && !(commonService.isLoadingRefresh$| async)"></kt-approved-error>

		<div class="sb-content p-2 mt-3 mb-3" *ngIf="APPROVED || (removeButton$|async)">
			<div class="form-group row">
				<div class="col-12 text-right">
					<button type="button" (click)="getReportId()"
							*ngIf="(inputtable$|async) && ((commonService.comboStatus$|async) == 'ERROR')"
							class="btn  btn-sm sb-btn-display mt-2 mr-2"
							[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--dark ml-2': (isLoadingReport$ | async)}">
						Hiển thị biểu mẫu
					</button>
					<button type="button" (click)="refreshError()"
							[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--dark ml-2': (commonService.isLoadingRefresh$ | async)}"
							class="btn  btn-sm sb-btn-display mt-2 mr-2">
						Refresh
					</button>

					<button *ngIf="(inputtable$|async) && ((commonService.comboStatus$|async) == 'ERROR')"
							type="button" (click)="resend()"
							[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--dark ml-2': (isLoading$|async)}"
							class="btn  btn-sm sb-btn-submit mt-2 mr-2">
						Gửi duyệt lại
					</button>
				</div>
			</div>
		</div>
		<div class="sb-content p-3 mt-3 mb-3" [hidden]="APPROVED || viewData">
			<div class="form-group row " *ngIf="inputtable$ | async">
				<div class="col-12 text-right">
					<button type="button" (click)="getReportId()" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--dark ml-2': (isLoadingReport$ | async)}"
							class="btn  btn-sm sb-btn-display mt-2 mr-2">
						Hiển thị biểu mẫu
					</button>

					<!--Nếu là tạo mới-->
					<button type="button" *ngIf="!dataCacheRouter"
							class="btn btn-sm sb-btn-remove mt-2 mr-2" (click)="removeForm()">
						Xóa
					</button>

					<!--Nếu là importer chỉnh sửa dữ liệu sau khi tạo-->
					<button type="button" (click)="removeRecord()" *ngIf="dataCacheRouter && dataCacheRouter.combo?.status != 'SAVED'"
							class="btn btn-sm  sb-btn-remove mt-2 mr-2">
						Xóa
					</button>

					<button type="button" (click)="removeSavedRecord()" *ngIf="dataCacheRouter && dataCacheRouter?.combo?.status == 'SAVED'"
							class="btn btn-sm  sb-btn-remove mt-2 mr-2">
						Xóa
					</button>

					<button *ngIf="dataCacheRouter?.combo?.status != 'PENDING'" type="button" (click)="saveTemplate()"
					[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--dark ml-2': (isLoadingSave$ | async)}"
							class="btn btn-sm  sb-btn-save mt-2 mr-2">
						Lưu
					</button>
					<button type="submit" [disabled]="(isLoading$ | async)"
							class="btn  btn-sm sb-btn-submit mt-2 mr-2" (click)="onImporterCreate()"
							[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--dark ml-2': (isLoading$ | async)}">
							{{(dataCacheRouter && dataCacheRouter.combo?.status != 'SAVED'  && !predictData) ? 'Cập nhật' : 'Gửi duyệt'}}
					</button>
				</div>
			</div>

			<div class="form-group row " *ngIf="(authorisable$ | async) && !(removeButton$|async)">
				<div class="col-12 text-right">
					<button type="button" (click)="rejectRecord()"
							class="btn btn-sm  sb-btn-save mt-2 mr-2">
						Từ chối
					</button>
					<button type="submit" [disabled]="(isLoading$ | async)"
							class="btn  btn-sm sb-btn-submit mt-2 mr-2" (click)="onApproved()"
							[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--dark ml-2': (isLoading$ | async)}">
						Duyệt
					</button>
				</div>
			</div>
		</div>

	</div>

	<div *ngIf="commonService.activeTab$.getValue() === 1">
		FATCA
	</div>

	<div *ngIf="commonService.activeTab$.getValue() === 2">
		AML tăng cường
	</div>
</div>


