.sb-checkbox__login {
	position: relative!important;
	height: 24px !important;
	padding: 8px;
}

.translateY {
	transform: translateY(4px);
}

.green-lable {
	color: green;
	margin: 2px;
	padding: 3px;
	max-height: 25px;
	max-width: 70px;
	border-radius: 20px !important;
	background-color: #C1FFC1;
	text-align: center;
}

.red-lable {
	color: red;
	margin: 2px;
	padding: 3px;
	max-height: 25px;
	max-width: 70px;
	border-radius: 20px !important;
	background-color: #FFC1C1;
	text-align: center;
}
