<!-- BEGIN: Left Aside -->
<div ktOffcanvas [options]="menuCanvasOptions"
	 class="kt-aside kt-aside--fixed kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">
	<!-- begin:: Brand -->
	<kt-brand [show]="hiddenAuth$|async"></kt-brand>
	<!-- end:: Brand -->
	<!--	(mouseenter)="mouseEnter($event)" (mouseleave)="mouseLeave($event)"-->
	<!-- BEGIN: Aside Menu -->
	<div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
		<div #asideMenu ktMenu [options]="menuOptions" [perfectScrollbar]="{wheelPropagation: false}"
			 [ngStyle]="{'max-height': '70vh', 'position': 'relative'}" id="kt_aside_menu" class="kt-aside-menu"

			 [ngClass]="htmlClassService.getClasses('aside_menu', true)"
			 [class.displayMenu]="!layoutConfigService.isMenuMinimize.getValue()"
			 [class.hideMenu]="layoutConfigService.isMenuMinimize.getValue()">
			<ul class="kt-menu__nav" [ngClass]="htmlClassService.getClasses('aside_menu_nav', true)">
				<ng-container [ngTemplateOutlet]="menuListTemplate"></ng-container>
			</ul>
		</div>
	</div>
	<!-- END: Aside Menu -->
	<!--	<div style="width: 50px; height: 100%; background-color: #d61817; position: absolute; left: 0px; top:0px; opacity: 1; z-index: 2"></div>-->
</div>
<!-- END: Left Aside -->

<ng-template #menuListTemplate>
	<ng-container *ngFor="let child of menuAsideService.menuList$ | async">
		<ng-container *ngIf="child.section" [ngTemplateOutlet]="menuItemSectionTemplate"
					  [ngTemplateOutletContext]="{ item: child }"></ng-container>
		<ng-container *ngIf="child.separator" [ngTemplateOutlet]="menuItemSeparatorTemplate"
					  [ngTemplateOutletContext]="{ item: child }"></ng-container>
		<ng-container *ngIf="child.title" [ngTemplateOutlet]="menuItemTemplate"
					  [ngTemplateOutletContext]="{ item: child }"></ng-container>
	</ng-container>
</ng-template>

<ng-template #menuItemTemplate let-item="item" let-parentItem="parentItem">
	<ng-container *ngIf="!item.permission" [ngTemplateOutlet]="menuItemInnerTemplate"
				  [ngTemplateOutletContext]="{ item: item, parentItem: parentItem  }"></ng-container>
	<ng-template *ngIf="checkShowMenu(item)" [ngxPermissionsOnly]="item.permission">
		<ng-container [ngTemplateOutlet]="menuItemInnerTemplate"
					  [ngTemplateOutletContext]="{ item: item, parentItem: parentItem  }"></ng-container>
	</ng-template>
</ng-template>

<ng-template #menuItemInnerTemplate let-item="item" let-parentItem="parentItem">
	<li [attr.aria-haspopup]="true"
		[attr.data-ktmenu-submenu-toggle]="getItemAttrSubmenuToggle(item)"
		[attr.data-ktmenu-submenu-mode]="item.mode"
		[attr.data-ktmenu-dropdown-toggle-class]="item['dropdown-toggle-class']" [ngClass]="getItemCssClasses(item)"
		[ngbTooltip]="item.tooltip" data-placement="right">


		<!-- if menu item hasn't submenu -->
		<a *ngIf="!item.submenu" class="kt-menu__link kt-menu__toggle" (click)="onClickMenu(item.page)"
		   [ngClass]="{' menu-focus' : (item.page == router.url)}"
		   style="padding: 9px 25px 9px 15px">
			<ng-container [ngTemplateOutlet]="menuItemTextTemplate"
						  [ngTemplateOutletContext]="{ item: item, parentItem: parentItem }"></ng-container>
		</a>

		<!-- if menu item has sumnenu child  -->
		<a *ngIf="item.submenu" class="kt-menu__link kt-menu__toggle" style="padding: 9px 25px 9px 15px;"
		   [ngClass]="{' menu-focus' : (item.page == router.url)}">
			<ng-container [ngTemplateOutlet]="menuItemTextTemplate"
						  [ngTemplateOutletContext]="{ item: item, parentItem: parentItem }"></ng-container>
		</a>

		<!-- if menu item has submenu child then recursively call new menu item component -->
		<div *ngIf="item.submenu" class="kt-menu__submenu">
			<span class="kt-menu__arrow"></span>
			<div *ngIf="item['custom-class'] === 'kt-menu__item--submenu-fullheight'" class="kt-menu__wrapper">
				<!-- wrap submenu to full height -->
				<ng-container [ngTemplateOutlet]="menuSubmenuTemplate"
							  [ngTemplateOutletContext]="{ item: item, parentItem: parentItem }"></ng-container>
			</div>
			<!-- normal submenu -->
			<ng-container *ngIf="item['custom-class'] !== 'kt-menu__item--submenu-fullheight'"
						  [ngTemplateOutlet]="menuSubmenuTemplate"
						  [ngTemplateOutletContext]="{ item: item, parentItem: parentItem }">
			</ng-container>
		</div>
	</li>

</ng-template>

<ng-template #menuSubmenuTemplate let-item="item" let-parentItem="parentItem">
	<ul class="kt-menu__subnav">
		<ng-container *ngFor="let child of item.submenu">
			<ng-container *ngIf="child.section" [ngTemplateOutlet]="menuItemSectionTemplate"
						  [ngTemplateOutletContext]="{ item: child, parentItem: item }"></ng-container>
			<ng-container *ngIf="child.separator" [ngTemplateOutlet]="menuItemSeparatorTemplate"
						  [ngTemplateOutletContext]="{ item: child, parentItem: item }"></ng-container>
			<ng-container *ngIf="child.title" [ngTemplateOutlet]="menuItemTemplate"
						  [ngTemplateOutletContext]="{ item: child, parentItem: item }"></ng-container>
		</ng-container>
	</ul>
</ng-template>

<ng-template #menuItemTextTemplate let-item="item" let-parentItem="parentItem">
	<!-- if menu item has icon -->
	<i style="z-index: 100; padding-right: 30px; color: #0c0c0c" *ngIf="item.icon" class="kt-menu__link-icon"
	   [ngClass]="item.icon"></i>
	<img style="z-index: 100; margin-right: 23px; width: 30px; color: #050505" *ngIf="item.icon2"
		 [attr.src]="getPathIcon(item.icon2)">

	<!-- if menu item using bullet -->
	<i style="z-index: 100; padding-right: 30px" *ngIf="parentItem && item.bullet === 'dot'"
	   class="kt-menu__link-bullet">
		<span><i class="dot custom_dot mr-4 ml-1" aria-hidden="true"></i></span>
	</i>
	<i style="z-index: 100; padding-left: 80px" *ngIf="parentItem && item.bullet === 'line'"
	   class="kt-menu__link-bullet">
		<span></span>
	</i>

	<!-- menu item title text -->
	<span class="kt-menu__link-text"
		  [ngClass]="{' text-custom': (!item.icon && item.submenu), ' text-custom_submenu': (item.icon), ' menu-focus' : (item.page == router.url)}"
		  [translate]="item.translate">{{item.title}}</span>
	<!-- menu item with badge -->
	<span *ngIf="item.badge" class="kt-menu__link-badge">
		<span class="kt-badge" [ngClass]="item.badge.type">{{item.badge.value}}</span>
	</span>

	<!-- if menu item has submenu child then put arrow icon -->
	<i style="color: #d61817" *ngIf="item.submenu" class="kt-menu__ver-arrow la la-angle-right"></i>
</ng-template>

<ng-template #menuItemSeparatorTemplate let-item="item" let-parentItem="parentItem">
	<li class="kt-menu__separator"><span></span></li>
</ng-template>

<ng-template #menuItemSectionTemplate let-item="item" let-parentItem="parentItem">
	<li class="kt-menu__section" style="margin-left: 35px">
		<h4 class="kt-menu__section-text">{{item.section}}</h4>
		<i class="kt-menu__section-icon flaticon-more-v2"></i>
	</li>
</ng-template>
