.chart-circle {
	max-height: 200px;
}

.search-form {
	padding: 1rem;
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.custom-legend-item {
	padding: 5px;
	background-color: #F2F3F5;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	min-height: 280px;
}

.sb-label-hover {
	color: #d61817;
	font-weight: bold;
}

.sb-box-shadow {
	box-shadow: 5px 5px 5px #888c
}
